
<header>
    <nav class="flex justify-between px-18 sm:px-8 py-5 border-b-2 cursor-pointer w-lg">
        <div>
            <h1 class="text-amber-900">{{ title()}}</h1>
        </div>
        <div class="hidden sm:flex">
            <ul class="flex gap-8 ">
                
                <li class="text-neutral-50 hover:text-amber-500">
                    <a href="https://github.com/Paulo-Borges" target="_blank">GITHUB</a> 
                </li>
                <li class="text-neutral-50 hover:text-amber-500">
                    <a href="https://www.linkedin.com/in/paulo-borges-de-almeida-b543b3242/" target="_blank">LINKEDIN</a>
                </li>
               
            </ul>
        </div>
        <div>
            <span class="text-amber-900 border p-1 text-xs hover:text-amber-300">
                Open to Work
            </span>
        </div>
    </nav>
</header>
