<main class="w-lg flex flex-col justify-center items-center my-12 ">
    <h1 class="flex justify-center">SMTP</h1>
    <form class="space-y-4" (ngSubmit)="onSubmit()">
        <h3>Seja Bem Vindo a SMTP</h3>
        <div class="flex flex-col">
            <label for="email">Email</label>
            <input type="email" class="border rounded" id="email" [(ngModel)]="email" name="email" required >
        </div>
        <div class="flex flex-col">
            <label for="password">Senha</label>
            <input [type]="showPassword ? 'text' : 'password'" class="border rounded w-full" id="password"  [(ngModel)]="password" name="password" required>

            <button type="button" class=" mt-2 text-xs text-blue-600 hover:underline self-end" (click)="showPassword = !showPassword">
                {{ showPassword ? 'Ocultar senha' : 'Mostrar senha' }}
              </button>
        </div>
        <button class="bg-amber-300 hover:bg-amber-600 mt-3 rounded text-amber-50 w-lg" type="submit" [disabled]="loading || !isValid() ">
            {{ loading ? 'Entrando.....' : 'Entrar'}}
        </button>
    </form>
    <p class="mt-6 text-center text-sm">
        Ainda não tem conta?
        <a routerLink="/criarUser" class="">Criar User</a>
    </p>

</main>
